:root {
  --dark: #07041a;
  --off-white: #f5f5f5;
  --neo-blue: #08b9f7;
  --neo-purple: #be3bff;
  --off-white2: rgb(250, 250, 250);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
}

.fade {
  opacity: 0.5 !important;
}

.game-option-warpper {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;

  grid-template-rows: auto 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  animation: fade-in 1s ease-in-out forwards;
  -webkit-animation: fade-in 1s ease-in-out forwards;
}

.game-option-warpper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.game-option-warpper > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.game-option-warpper > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.game-option-warpper > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.game-option-warpper > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.game-option-warpper > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.game-option-warpper .head-section {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.game-option-warpper .game-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column: 1;
  grid-column: 1;

  height: 70dvh;
}

.game-option-warpper .game-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column: 2;
  grid-column: 2;

  height: 70dvh;
}

.game-option-warpper .game-section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column: 3;
  grid-column: 3;
  height: 70dvh;
}

@media (max-width: 1200px) {
  /*vertical layout*/
  .game-option-warpper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .game-option-warpper .head-section {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .game-option-warpper .game-section1 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .game-option-warpper .game-section2 {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .game-option-warpper .game-section3 {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.head-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.head-section .head-section-content {
  min-width: 100px;
  background: linear-gradient(var(--dark), var(--dark)) padding-box,
    linear-gradient(45deg, var(--neo-blue),var(--neo-purple)) border-box;
  border: 5px solid transparent;
  border-radius: 30px;
}
.head-section h2 {
  font-size: 6dvh;
  color: white;
  margin: 10px 30px;
}

.head-section img {
  margin-top: 10px;
  height: 15vh;
  object-fit: cover;
}

.game-option-card {
  font-size: 1.5em;
  width: 60%;
  height: 80%;
  background-color: #faf9f6;
  border-radius: 30px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  padding: 40px;
}

.game-option-card.active {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.game-option-card p {
  margin: 0.5em;
}

.custom-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.custom-radio input[type="radio"] {
  display: none;
}

.radio-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.radio-circle {
  position: relative;
  aspect-ratio: 1/1;
  width: 20px;
  height: 20px;
  border: 3px solid #000000;
  border-radius: 50%;
  margin-right: 10px;
  -webkit-transition: border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.radio-text {
  font-size: 1.2rem;
  color: #000000;

  -webkit-transition: color 0.3s ease-in-out;

  transition: color 0.3s ease-in-out;
}

@-webkit-keyframes background-gradient-move {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes background-gradient-move {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.custom-radio input[type="radio"]:checked + .radio-label {
  /*gradient background*/
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--neo-blue)),
    color-stop(50%, var(--neo-purple)),
    to(var(--neo-blue))
  );
  background: linear-gradient(
    90deg,
    var(--neo-blue) 0%,
    var(--neo-purple) 50%,
    var(--neo-blue) 100%
  );
  background-size: 10000% 100%;
  -webkit-animation: background-gradient-move 5s infinite;
  animation: background-gradient-move 5s infinite;
}

.custom-radio input[type="radio"]:checked + .radio-label .radio-circle {
  border-color: #fff;
  background-color: #00c3ff;
}

.custom-radio input[type="radio"]:checked + .radio-label .radio-text {
  color: #000000;
}

.custom-slider-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.custom-slider {
  -webkit-appearance: none;
  appearance: none;

  width: 90%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.custom-slider-value {
  width: 10%;
  text-align: center;
  font-size: 1.2em;
}

.game-mode-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.game-mode-btn {
  padding: 5px;
  width: 90%;
  border-radius: 10px;
  background-color: #faf9f6;
  border: 2px solid transparent;
  font-size: 1em;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.game-mode-btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--neo-blue)),
    color-stop(50%, var(--neo-purple)),
    to(var(--neo-blue))
  );
  background: linear-gradient(
    90deg,
    var(--neo-blue) 0%,
    var(--neo-purple) 50%,
    var(--neo-blue) 100%
  );
  background-size: 10000% 100%;
  -webkit-animation: background-gradient-move 0.5s;
  animation: background-gradient-move 0.5s;
  font-weight: bold;
}
/*scrollbar*/
::-webkit-scrollbar {
  width: 0.1em;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 1dvh;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 1dvh;
}

::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c;
}

.general-btn {
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #faf9f6;
  border: 2px solid #000000;
  font-size: 1em;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  margin-bottom: 10px;
  margin-top: 10px;
}

.general-btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--neo-blue)),
    color-stop(50%, var(--neo-purple)),
    to(var(--neo-blue))
  );
  background: linear-gradient(
    90deg,
    var(--neo-blue) 0%,
    var(--neo-purple) 50%,
    var(--neo-blue) 100%
  );
  background-size: 10000% 100%;
  -webkit-animation: background-gradient-move 0.5s;
  animation: background-gradient-move 0.5s;
  font-weight: bold;
}

progress {
  border-radius: 7px;
  width: 80%;
  height: 22px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-bar {
  background-color: var(--off-white2);
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-color: var(--neo-blue);
  border-radius: 7px;
  -webkit-box-shadow: 1px 1px 5px 3px rgba(0, 128, 255, 0.2);
  box-shadow: 1px 1px 5px 3px rgba(0, 128, 255, 0.2);
}

input[type="file"] {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #000000;
  background-color: var(--off-white2);
}

#file-upload-button {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #000000;
  background-color: var(--off-white2);
  cursor: pointer;
}

input[type="file"]:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--neo-blue)),
    color-stop(50%, var(--neo-purple)),
    to(var(--neo-blue))
  );
  background: linear-gradient(
    90deg,
    var(--neo-blue) 0%,
    var(--neo-purple) 50%,
    var(--neo-blue) 100%
  );
  background-size: 10000% 100%;
  -webkit-animation: background-gradient-move 0.5s;
  animation: background-gradient-move 0.5s;
}

.file-option {
  display: flex;
  flex-direction: column;
}

/*============================================= */
.clear {
  clear: both;
}

.cb-content {
  display: flex;
  align-items: center;
}

.cb-text {
  margin-left: 15px;
}

.cb {
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  box-shadow: 0px 0px 0px 2px var(--dark);
}

.cb div {
  width: 60px;
  height: 60px;
  background-color: var(--neo-blue);
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.cb input[type="checkbox"]:checked + div {
  left: -10px;
  top: -10px;
}

.cb input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.cb-transition {
  transition: 300ms ease;
}

/*====== tooltip ======*/
.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1000;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
